.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 800px;
}

label {
  position: relative;
  top: 50px;
  font-weight: bold;
}

button {
  position: relative;
  top: 475px;
  margin: 20px auto;
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background: #2196f3 center;
  box-shadow: 0 0 4px #999;
  outline: none;
  transition: background 0.5s;
}
button:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
button:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}